{% extends "base.html" %}
{% load static %}
{% block pageName %} About Us {% endblock pageName %}
{% block main %}



    <!-- about part start-->
    <section class="about_part about_bg">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-4 col-lg-5 offset-lg-1">
                    <div class="about_img">
                        <img src="{% static '' %}img/about.png" alt="">
                    </div>
                </div>
                {% for history in ourHistory %}
                    <div class="col-sm-8 col-lg-4">
                        <div class="about_text">
                            <h5>Our History</h5>
                            <h2>{{history.title}}</h2>
                            <p>{{history.detail|safe}}</p>
                            <!-- <a href="#" class="btn_3">Read More <img src="{% static '' %}img/icon/left_2.svg" alt=""></a> -->
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- about part end-->
    <!--::review_part start::-->
    <section class="review_part gray_bg section_padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="section_tittle">
                        <p>Testimonials</p>
                        <h2>Customers Feedback</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-11">
                    <div class="client_review_part owl-carousel">
                        {% for fb in feedback %}
                            <div class="client_review_single media">
                                <div class="client_img align-self-center">
                                    <img src="{{fb.customer_avatar.url}}" alt="" style="border-radius: 50%; object-fit: cover;">
                                </div>
                                <div class="client_review_text media-body">
                                    <p>{{fb.feedback|safe}}</p>
                                    <h4>{{fb.customer_name}}</h4>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::review_part end::-->
    <!--::chefs_part start::-->
    <section class="chefs_part blog_item_section section_padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="section_tittle">
                        <p>Team Member</p>
                        <h2>Our Experience Chefs</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for chef in chefs %}
                    <div class="col-sm-6 col-lg-4">
                        <div class="single_blog_item">
                            <div class="single_blog_img">
                                <img src="{{chef.avatar.url}}" alt="" height="360" width="330" style="object-fit: cover; border-top-left-radius: 9%; border-top-right-radius: 9%;">
                            </div>
                            <div class="single_blog_text text-center">
                                <h3>{{chef.fullName}}</h3>
                                <p>{{chef.position}}</p>
                                <div class="social_icon">
                                    <a href="{{chef.faceBook}}"> <i class="ti-facebook"></i> </a>
                                    <a href="{{chef.twitter}}"> <i class="ti-twitter-alt"></i> </a>
                                    <a href="{{chef.instagram}}"> <i class="ti-instagram"></i> </a>
                                    <a href="{{chef.skype}}"> <i class="ti-skype"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--::chefs_part end::-->

{% endblock %}