{% extends "base.html" %}
{% load static %}
{% block pageName %} Blog {% endblock pageName %}
{% block main %}



    <!--================Blog Area =================-->
    <section class="blog_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        {% for post in page.object_list %}
                            {% if post.status == 0 %}
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="{{post.image.url}}" alt="" height="500" style="object-fit: cover;">
                                        <!-- <a class="blog_item_date">
                                            <h3>{{post.date.day}}</h3> 
                                            <p>{{post.date|date:'F'}}</p> 
                                        </a> -->
                                    </div>

                                    <div class="blog_details">
                                        <a class="d-inline-block" href="{% url 'postDetail' post_id=post.id %}">
                                            <h2>{{post.title}}</h2>
                                        </a>
                                        <p>{{post.content|striptags|safe|truncatewords:30}}</p>
                                        <ul class="blog-info-link">
                                            <li><a ><i class="far fa-user"></i> Posted by <span style="color: #ff6426; font-weight: bold;"> {{post.author}} </span></a></li>
                                            <li><a ><i class="far fa-clock"></i> {{post.created_at|date:"d-m-Y"}}</a></li>
                                        </ul>
                                    </div>
                                </article>
                            {% endif %}
                        {% endfor %}
                        
                        <!-- paginator  -->
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                {% if page.has_previous %}
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>
                                {% else %}
                                    <a href="#" class="disabled" aria-label="Previous" style="display: none;">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                {% endif %}

                                {% for i in page.paginator.page_range %}
                                    {% if page.number == i %}
                                        <li class="page-item active">
                                            <a class="page-link">{{ i }}</a>
                                        </li>
                                    {% elif i > page.number|add:'-3' and i < page.number|add:'3' %}
                                        <li class="page-item">
                                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if page.has_next %}
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a href="#" class="disabled" aria-label="Next" style="display: none;">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form method="GET">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Search Keyword'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Keyword'" name="q">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_4"
                                    type="submit">Search</button>
                            </form>
                        </aside>

                        <!-- <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Category</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Resaurant food</p>
                                        <p>(37)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Travel news</p>
                                        <p>(10)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Modern technology</p>
                                        <p>(03)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Product</p>
                                        <p>(11)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Inspiration</p>
                                        <p>21</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Health Care (21)</p>
                                        <p>09</p>
                                    </a>
                                </li>
                            </ul>
                        </aside> -->

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Recent Post</h3>
                            {% for recentPost in recentPosts %}
                                {% if recentPost.status == 0 %}
                                    <div class="media post_item">
                                        <a href=""><img src="{{recentPost.image.url}}" alt="post" height="80" width="80" style="object-fit: cover;" ></a>
                                        <div class="media-body">
                                            <a href="{% url 'postDetail' post_id=recentPost.id %}">
                                                <h3>{{recentPost.title| truncatewords:4}}</h3>
                                            </a>
                                            <p>{{recentPost.created_at| timesince}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </aside>

                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title">Our moment</h4>
                            <ul class="instagram_row flex-wrap">
                                {% for igFeed in igFeeds %}
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#exampleModalCenter{{ forloop.counter }}">
                                            <img class="" src="{{igFeed.image.url}}" alt="" height="90" width="90" style="object-fit: cover;">
                                        </a>
                                    </li>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <!-- <h5 class="modal-title" id="exampleModalLongTitle">Instagram Feeds</h5> -->
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <img class="" src="{{igFeed.image.url}}" alt="">
                                                    <div id="caption" style="margin: 0 3vh; text-align: center; margin-top: 5px;">
                                                        {{igFeed.note}}
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </ul>
                        </aside>

                        

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

{% endblock %}