{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block pageName %} Liên hệ {% endblock pageName %}
{% block main %}
	

	
	<div class="gioithieudaubep wow fadeInUp">
		<div class="container">
			<div class="row">
				
				<div class="col-sm-4">
					<img src="{% static '' %}images/chef.jpg" alt="" class="anhdaubep">
				</div>
				
				<div class="col-sm-7 push-sm-1">
					<div class="thongtinct">
						<span class="Master fontdacing">Leave A Message Here </span>
						<h2 class="fontoswald">Liên hệ với chúng tôi</h2>	
					</div>
					<form method="POST" action="#">
						{% csrf_token %}
						<div class="khoiform">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<input type="text" name="customerName" class="form-control" placeholder="Họ và tên*">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="email" name="email" class="form-control" placeholder="Email*">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="number" name="phoneNumber" class="form-control" placeholder="Số điện thoại*">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="date" name="date" class="form-control" placeholder="Ngày*">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="time" name="time" class="form-control" placeholder="Giờ*">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="number" name="amount" class="form-control" placeholder="Số lượng">
									</div>
								</div>
								<div class="col-sm-12">
									<textarea class="form-control" name="note" id="Textarea" rows="4" placeholder="Ghi chú*"></textarea>
								</div>
								<div class="col-sm-12">
								<button type="submit" class="btn btn-warning  booktable  wow swing" style="margin-top: 10px;" >Đặt bàn</button>
								</div>
							</div>
						</div>
					</form>
					<!-- END thongtin -->
					
				</div>
			</div>
		<!-- </div> -->
		</div>
	</div>
	<!-- END gioithieudaubep -->
{% endblock %}

