{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block pageName %} Trang chủ {% endblock pageName %}
{% block main %}


	<!-- Slide mon-->
	<div class="slide">
		<div id="slidemonantren" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#slidemonantren" data-slide-to="0" class="active"></li>
				<li data-target="#slidemonantren" data-slide-to="1"></li>
				<li data-target="#slidemonantren" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="slidetren carousel-item  active" style="background-image: url('/static/images/01.jpg')">
					<div class="chu">
						<h2>The Fresh And Tasty Burgers</h2>
						<p>Lorem ipsum, dolor sit amet consectetur adipisicing, elit. <br>Nesciunt sed iusto laborum, reprehenderit ipsum, sit sunt saepe incidunt. Consequatur, iure.</p>
						<a href="" class="nutslide btn btn-warning">Buy Now</a>
					</div>
				</div>
				<!-- END 1 carousel -->
				<div class="slidetren carousel-item " style="background-image: url('/static/images/02.jpg')">
					<div class="chu">
						<h2>The Fresh And Tasty Burgers</h2>
						<p>Lorem ipsum, dolor sit amet consectetur adipisicing, elit.<br>Nesciunt sed iusto laborum, reprehenderit ipsum, sit sunt saepe incidunt. Consequatur, iure.</p>
						<a href="" class="nutslide btn btn-warning">Buy Now</a>
					</div>
				</div>
				<!-- END 1 carousel -->
				<div class="slidetren carousel-item " style="background-image: url('/static/images/03.jpg')"> 
					<div class="chu">
						<h2>The Fresh And Tasty Burgers</h2>
						<p>Lorem ipsum, dolor sit amet consectetur adipisicing, elit. <br> Nesciunt sed iusto laborum, reprehenderit ipsum, sit sunt saepe incidunt. Consequatur, iure.</p>
						<a href="" class="nutslide btn btn-warning">Buy Now</a>
					</div>
				</div>
				<!-- END 1 carousel -->
			</div>
			<a class="left carousel-control" href="#slidemonantren" role="button" data-slide="prev">
				<span class="icon-prev" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#slidemonantren" role="button" data-slide="next">
				<span class="icon-next" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<!-- END slide -->

	
	<div class="badichvu">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 wow fadeInUp">
					<a href="">
						<img src="images/bvd1.jpg" alt="" class="img-fluid"></a>
						<h3>câu chuyện của chúng tôi</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa explicabo quasi ad placeat sapiente ab ipsam corporis consectetur molestiabvd2</p>
						<a href="" class="readmore">Readmore</a>
				</div>

				<div class="col-sm-4 wow fadeInDown">
					<a href="">
						<img src="images/bvd2.jpg" alt="" class="img-fluid"></a>
						<h3>câu chuyện của chúng tôi</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa explicabo quasi ad placeat sapiente ab ipsam corporis consectetur molestiabvd2</p>
						<a href="" class="readmore">Readmore</a>
				</div>

				<div class="col-sm-4 wow fadeInUp">
					<a href=""><img src="images/bvd3.jpg" alt="" class="img-fluid"></a>
					<h3>câu chuyện của chúng tôi</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa explicabo quasi ad placeat sapiente ab ipsam corporis consectetur molestiabvd2</p>
					<a href="" class="readmore">Readmore</a>
				</div>
			</div>
		</div>
	</div>
	<!-- END badichvu -->

	
	
	<div class="khoimenu" >
		<div class="tieudekhoimenu text-xs-center">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 push-sm-2">
						<span class="tieudephu">Our Delicious Food</span>
						<h3 class="tieudechinh fontoswald">Fresh And Healthy Food Available</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- END tieudekhoimenu -->
	</div>
	<!-- END khoimenu -->


	<!-- thucdonct -->
	<div class="thucdonct wow fadeInUp">
		<div class="tieudect text-xs-center">
			<a href="" data-monan="*">Tất cả</a> <!-- data- :Đấy là cách lấy dữ liệu trong html(* là lấy hết) -->
		</div>
		
		<div class="noidungct">
			<div class="container">
				<div class="row nhieumon">
					<!-- trên dien thoai thi 12 cot, ipad 2 cot, lớn hon ipad 3 cot, lon nhat 4 cot -->
					{% for food in foods %}
						<div class="col-xs-12 col-sm-6 col-md-4  motmon sang">
							<div class="row">
								<div class="col-xs-3 col-sm-4">
									<!-- ben trai la ảnh -->
									<div class="anhnmon">
										<div class="tagnew">NEW</div>
										<img src="{{food.image.url}}" alt=""  width="105" height="105" style="object-fit: cover;">
									</div>
								</div>
								<!-- ben phai la món -->
								<div class="col-xs-9 col-sm-8 in4monan">
									<div class="tenmon">
										<div class="tren">
											<span class="float-xs-right">{{food.price|intcomma}} VND</span>
											<b class="ten">{{food.foodName}}</b>
										</div>
										<div class="duoi">
											{{food.description|truncatewords:8}}
										</div>
									</div>
								</div>
							</div>
							<!-- END row -->
						</div> 
					{% endfor %}
				</div>
			</div>
		
		</div>
		<!-- END noidungct -->

	</div>
	<!-- END thucdonct -->



	<div class="slidemonan">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 wow swing">
					<h4>Những món ăn đặc biệt của chúng tôi</h4>
				</div>
			</div>

			<div class="row">
				<div id="slidemonaduoi" data-interval="5000" class="carousel slide" data-ride="carousel"> <!-- data-interval: chỉnh thời gian chuyển sile(mili giây) -->
					<ol class="carousel-indicators">
						<li data-target="#slidemonaduoi" data-slide-to="0" class="active"></li>
						<li data-target="#slidemonaduoi" data-slide-to="1"></li>
						<li data-target="#slidemonaduoi" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active">
							<div class="row">
								{% for food in special %}
									{% if food.status == True %}
										<div class="sanpham">
											<img src="{{food.image.url}}" class="anhspslide" alt="" >
											<div class="tensp">				
												<div class="gia float-xs-right">{{food.price|intcomma}}</div>
												<div class="ten">{{food.foodName}}</div>
											</div>
											<div class="tencongthuc">
												{{food.description|truncatewords:4}}
											</div>
										</div>
									{% endif %}
								{% endfor %} 
							</div>
							<!-- END row -->
						</div>
						<!-- END 1 slide -->
					</div>
					<a class="left trai carousel-control" href="#slidemonaduoi" role="button" data-slide="prev">
						<span class="icon-prev" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#slidemonaduoi" role="button" data-slide="next">
						<span class="icon-next" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			<!-- END row -->
		</div>
	</div>
	<!-- END slidemonan -->


	<div class="gioithieudaubep">
		<div class="container">
			<div class="row">
				{% for chef in chefs %}
					<div class="col-sm-6">
						<img src="{{chef.avatar.url}}" alt="" class="anhdaubep ">
					</div>
					
					<div class="col-sm-6">
						<div class="thongtin ">
							<h2 class="fontoswald">{{chef.fullName}}</h2>
							<span class="Master fontdacing">{{chef.position}}</span>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, fugiat sequi enim cupiditate minus ipsam ut amet suscipit voluptas, quasi natus? Consequuntur possimus repellat earum non tempore eaque cumque officia.</p>
						</div>
						<!-- END thongtin -->
						<div class="lienhe " data-wow-delay="0.2s">
							<a href="{{chef.faceBook}}" class="iconlhdb"><i class="fa fa-facebook"></i></a>
							<a href="{{chef.skype}}" class="iconlhdb"><i class="fa fa-instagram"></i></a>
							<a href="{{chef.instagram}}" class="iconlhdb"><i class="fa fa-pinterest-p"></i></a>
							<a href="{{chef.twitter}}" class="iconlhdb"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				{% endfor %}
			</div>
		<!-- </div> -->
		</div>
	</div>
	<!-- END gioithieudaubep -->


	<div class="sloganhome wow fadeInUp">
		<div class="container text-xs-center">
			<div class="row">
				<div class="col-sm-8 push-sm-2">
					<h3 class="fontdacing">Enjoy Plesant Time With Friends and Partners</h3>
					<span class="fontoswald">Relaxing Atmosphere</span>
				</div>
			</div>
		</div>
	</div>
	<!-- END sloganhome -->


	<div class="khoidatban text-xs-center" id="reservations">
		<div class="container">
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<div class="thongtindatban">
						<h2 class="fontroboto">Make A Reservation</h2>
						<p class="tt fontroboto" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit fuga, debitis,  corporis tempora voluptatem laudantium. Autem.</p>
						<div class="giodb fontroboto">Thứ 2 đến thứ 6 <span class="vang">9:00 - 23:00 </span> Thứ 7 và chủ nhật <span class="vang">10:00 - 22:00 </span> <br/> Note: Nhà hàng đóng cửa vào các ngày lễ</div>
					<div class="dtdb fontoswald">{{contactInfo.phoneNumber}}</div>
					</div>
					<!-- END thongtindatban -->
				</div>
				<div class="col-sm-3"></div>

				<form method="POST" action="#">
					{% csrf_token %}
					<div class="col-sm-10 push-sm-1">
						<div class="formdatban">
							<div class="row">
								<div class="col-sm-12">
									<h2 class="booktext text-xs-center fontoswald">- Đặt bàn trực tuyến -</h2>
								</div>

								<div class="col-sm-4">
									<div class="form-group">
										<input type="text" name="customerName" class="form-control" placeholder="Họ và tên*">
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<input type="email" name="email" class="form-control" placeholder="Email*">
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<input type="number" name="phoneNumber" class="form-control" placeholder="Số điện thoại*">
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<input type="date" name="date" class="form-control" placeholder="Ngày*">
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<input type="time" name="time" class="form-control" placeholder="Giờ*">
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<input type="number" name="amount" class="form-control" placeholder="Số lượng">
									</div>
								</div>
								<div class="col-md-12">
									<textarea class="form-control" name="note" id="Textarea" rows="4" placeholder="Ghi chú*"></textarea>
								</div>
								<div class="col-sm-12 text-xs-center">
									<button type="submit" class="btn btn-warning  booktable  wow swing" style="margin-top: 10px;" >Đặt bàn</button>
									{% comment %} <a href="" class="btn btn-warning  booktable  wow swing " data-wow-iteration="2">Đặt bàn ngay</a> {% endcomment %}
								</div>
							</div>
						</div>
						<!-- END formdatban -->
					</div>
				</form>
			</div>
		</div>	
	</div>
	<!-- END khoidatban -->


	<div class="phanhoinguoidung">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 push-sm-1 text-xs-center">
					<div id="phanhoi" class=" carousel slide " data-interval="5000" data-ride="carousel" >
						<ol class="bacham  carousel-indicators">
							<li data-target="#phanhoi" data-slide-to="0" class="active"></li>
							<li data-target="#phanhoi" data-slide-to="1"></li>
							<li data-target="#phanhoi" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner" role="listbox">
							<div class="carousel-item active">
								<i class="fa fa-quote-left"></i>
								<div class="quote fontroboto">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt illum, optio. Perspiciatis nesciunt iste dolor possimus ipsa minima pariatur, quod accusantium praesentium minus vitae quas expedita necessitatibus ex iure aut.
								</div>
								<i class="fa fa-quote-right"></i>
								<div class="tennguoi fontdacing">Ngoc Hau</div>
							</div>

							<div class="carousel-item">
								<i class="fa fa-quote-left"></i>
								<div class="quote fontroboto">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt illum, optio. Perspiciatis nesciunt iste dolor possimus ipsa minima pariatur, quod accusantium
								</div>
								<i class="fa fa-quote-right"></i>
								<div class="tennguoi fontdacing">Phuong Hao</div>
							</div>

							<div class="carousel-item">
								<i class="fa fa-quote-left"></i>
								<div class="quote fontroboto">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt illum, optio. Perspiciatis nesciunt iste dolor possimus ipsa minima pariatur, quod accusantium 
								</div>
								<i class="fa fa-quote-right"></i>
								<div class="tennguoi fontdacing">Khuc Thuan</div>
							</div>
							
						</div>
						<!-- <a class="left carousel-control" href="#phanhoi" role="button" data-slide="prev">
							<span class="icon-prev" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#phanhoi" role="button" data-slide="next">
							<span class="icon-next" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END phanhoinguoidung -->


	<div class="tintuchome">	
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-xs-center">
					<div class="tdtintuchome">
						<span class="ourblog  fontdacing">Our Blog</span>
						<h2>Bài viết mới nhất</h2>
					</div>
				</div>
				{% for recentPost in latestPosts %}
                    {% if recentPost.status == 0 %}
						<div class="col-md-4 col-sm-6 col-xs-12  wow fadeInUp">
							<a href=""><img src="{{recentPost.image.url}}" alt=""style="width: -webkit-fill-available;" height="210"></a>
							<a href="" class="tieudetin1 fontoswald">{{recentPost.title|truncatewords:5}}</a>
							<div class="ngaythang1  fontroboto">{{recentPost.created_at| date:"M d, Y"}} by <span class="vang"> {{recentPost.author}} </span> </div>
							<p class="fontroboto">Lorem ipsum, dolor sit amet consectetur adipisicing, elit. Qui earum nostrum eius maiores laborum itaque tenetur sunt consectetur ut </p>
							
							<div class="docthem">
								<div class="like float-xs-right">99 like</div>
								<a href="" class="rm">Read More</a>	
							</div>
						</div>
					{% endif %}
                {% endfor %}

			</div>
		</div>
	</div>
	<!-- END tintuchome -->

{% endblock %}


