<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '' %}css/loginandregister.css">
    <title>Document</title>
</head>
<body class="align" style="background: white;">

    <div class="login-page">
        <div class="form">
            <!-- Login -->
            <form class="login-form" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="username"/>
                <input type="password" name="password" placeholder="password"/>
                {% for message in messages %}
                    <div class="form-input pt-30">
                        <h5 id="messages" style="color:red; text-align: center;"> {{message}} </h5>
                    </div>
                {% endfor %}
                <button style="background:#ff6426">Đăng nhập</button>
                <p class="message">Bạn chưa có tài khoản? <a href="{% url 'register' %}" style="color:#ff6426">Đăng ký</a></p>
            </form>
        </div>
    </div>
</body>
</html>