{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block pageName %} Trang chủ {% endblock pageName %}
{% block main %}


	<div class="khoimenu" >
		<div class="tieudekhoimenu text-xs-center">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 push-sm-2">
						<span class="tieudephu">Menu</span>
						<h3 class="tieudechinh fontoswald">Thực phẩm tươi và lành mạnh có sẵn</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- END tieudekhoimenu -->
	</div>
	<!-- END khoimenu -->


	<!-- thucdonct -->
	<div class="thucdonct wow fadeInUp">
		<div class="tieudect text-xs-center">
			<a href="" data-monan="*">Tất cả</a> <!-- data- :Đấy là cách lấy dữ liệu trong html(* là lấy hết) -->
		</div>
		
		<div class="noidungct">
			<div class="container">
				<div class="row nhieumon">
					<!-- trên dien thoai thi 12 cot, ipad 2 cot, lớn hon ipad 3 cot, lon nhat 4 cot -->
					{% for food in foods %}
						<div class="col-xs-12 col-sm-6 col-md-4  motmon sang">
							<div class="row">
								<div class="col-xs-3 col-sm-4">
									<!-- ben trai la ảnh -->
									<div class="anhnmon">
										<div class="tagnew">NEW</div>
										<img src="{{food.image.url}}" alt=""  width="105" height="105" style="object-fit: cover;">
									</div>
								</div>
								<!-- ben phai la món -->
								<div class="col-xs-9 col-sm-8 in4monan">
									<div class="tenmon">
										<div class="tren">
											<span class="float-xs-right">{{food.price|intcomma}} VND</span>
											<b class="ten">{{food.foodName}}</b>
										</div>
										<div class="duoi">
											{{food.description|truncatewords:4}}
										</div>
										<form action="/order/addtoshopcart/{{ food.id }}" method="POST"  id="addchart-form">
											{% csrf_token %}
											<input class="input" name="quantity" type="number" value="1" min="1" max="{{ product.amount }}">
											<button class="btn" type="submit">Thêm vào giỏ hàng</button>
										</form>
									</div>
								</div>
							</div>
							
							<!-- END row -->
						</div> 
					{% endfor %}
				</div>
			</div>
		
		</div>
		<!-- END noidungct -->

	</div>
	<!-- END thucdonct -->


{% endblock %}


