<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '' %}loginandregister.css">
    <title>Document</title>
</head>
<body class="align" style="background: white;">
    <!-- Register -->
    <div class="login-page">
        <div class="form">
            <form class="login-form" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="username"/>
                <input type="text" name="fullname" placeholder="Họ và tên"/>
                <input type="tel" name="phoneNumber" placeholder="Số điện thoại"/>
                <input type="email" name="email" placeholder="Email"/>
                <input type="password" name="password1" placeholder="Mật khẩu"/>
                <input type="password" name="password2" placeholder="Nhập lại mật khẩu"/>
                <button style="background: #ff6426;">Đăng ký</button>
                {% for message in messages %}
                    <div class="form-input pt-30">
                        <h3 id="messages" style="color:red; text-align: center;"> {{message}} </h3>
                    </div>
                {% endfor %}
                <p class="message">Bạn đã có tài khoản? <a href="{% url 'login' %}" style="color:#ff6426">Đăng nhập</a></p>
            </form>
        </div>
    </div>
</body>
</html>