{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block pageName %} Tin tức {% endblock pageName %}
{% block main %}


	<div class="tintuchome wow flipInY">	
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-xs-center">
					<div class="tdtintuchome">
						<span class="ourblog  fontdacing">Our Blog</span>
						<h2>Bài viết mới nhất</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END tintuchome -->


	<section class="noidungtin">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 ndttren">	
                    <div class="noidung  wow fadeInUp">
                        <a><img src="{{post_detail.image.url}}" alt="" width= 100% height="417"></a>
                        <a class="tieudetin1 fontoswald">{{post_detail.title}}</a>
                        <div class="ngaythang1  fontroboto">
                            <i class="fa fa-clock-o" aria-hidden="true"></i> {{post_detail.created_at|date:"d-m-Y"}} by <span class="vang">  {{post_detail.author}}</span> 
                        </div>
                        <p class="fontroboto">{{post_detail.content|safe}}</p>
                        
                        <div class="docthem">
                            <div class="like float-xs-right">{{cmt_count}} bình luận</div>
                            <div class="like float-xs-left">Cảm ơn bạn đã đọc</div>
                        </div>
                    </div>

					
					{% comment %} comment area {% endcomment %}
					<div class="toprated  wow fadeInRight">
						<h4 class="fontoswald chutoprated">Bình luận</h4>
						<div class="container">
							{% for cmt in comments %}
									<div class="row khoitoprated">
										<div class="col-sm-1 anhtoprated">
											<img src="https://images.pexels.com/photos/127160/pexels-photo-127160.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"  alt="" width="80" height="80" style="object-fit: cover;">
										</div>
										<div class="col-sm-11 push-sm-1" style="margin-left: -30px;">
											{% if cmt.user.is_superuser == True %}
												<h6>Admin nè</h6>
											{% else %}
												<h6>{{cmt.user.username}}</h6>
											{% endif %} 
											<span>{{cmt.comment}}</span> <br>
											<span style="font-size: 12px; font-style: italic;">{{cmt.created_at}}</span>
										</div>
									</div>
								{% comment %} </div> {% endcomment %}
								
							{% endfor %} 
						</div>
					</div>
					

					<div class="comment-form">
						<div class="container">
							<h4>Bình luận</h4>
							<form class="form-contact comment_form" method="POST" action="{% url 'comment' post_detail.id %}" id="commentForm">
								{% csrf_token %}
								<div class="col-12">
									<div class="form-group">
										<textarea class="form-control w-100" name="commentDetails" 
											id="comment" cols="30" rows="9" placeholder="Write Comment"></textarea>
									</div>
								</div>
								{% if user.is_authenticated %}
									<div class="row justify-content-center">
										<input type="submit" value="Đánh giá" class="btn btn-primary" style="background-color: #f0ad4e; color: black; border-color: #f0ad4e">
									</div>
								{% else %}
									<p>Bạn phải đăng nhập để đánh giá sản phẩm <span><a href="{% url 'login' %}">Đăng nhập</a></span></p>
								{% endif %}
							</form>
						</div>
					</div>
					
				</div>
				

				<div class="col-sm-3">
					<form method="GET">
						<div class="search">
							<div class="form-group thanhsearch">
								<input type="text" class="form-control" placeholder="Search" name="q">
							</div>
							<button type="submit" class="iconsearch"><i class="fa fa-search"></i></button>
							<button class="button w-100 btn_4" style="background-color: #f0ad4e;border: none; color: white;" type="submit">Search</button>
						</div>
					</form>
					
					<div class="categories  wow fadeInUp">
						<h2 class="fontoswald">Danh mục</h2>
						<div class="khoicategories fontroboto">
							<ul>
								<li><a href="">Healthy Food</a></li>
								<li><a href="">Super Burger</a></li>
								<li><a href="">Home Special</a></li>
								<li><a href="">Desserts</a></li>
							</ul>
						</div>
					</div>
					<!-- END categories -->
					
					<div class="toprated  wow fadeInRight">
						<h4 class="fontoswald chutoprated">Top Rated</h4>
						<div class="container">
							{% for food in special %}
								{% if food.status == True %}
									<div class="row khoitoprated">
										<div class="col-sm-4 anhtoprated">
											<img src="{{food.image.url}}"  alt="" width="80" height="80" style="object-fit: cover;">
										</div>
										<div class="col-sm-7 push-sm-1 khoigiamgia">
											<h6>{{food.foodName|truncatewords:2}}</h6>
											<span>{{food.price|intcomma}}</span>
											{% comment %} <span class="float-xs-right gialucdau">100.000</span> {% endcomment %}
										</div>
									</div>
								{% endif %}
							{% endfor %} 
						</div>
					</div>
					{% comment %} END toprate {% endcomment %}
				</div>

			</div>
		</div>
	</section>
	<!-- END noidungtin -->
{% endblock %}

